@model List<DiaryEntry>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <a class="btn btn-primary" asp-controller="DiaryEntries" asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
                </svg>
                Create New Entry
            </a>            
        </div>
        <div class="col-6 text-end">
            <h2>Diary Entries</h2>
        </div>

    </div>

</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Title</td>
                    <td>@entry.Content</td>
                    <td>@entry.Created</td>
                    <td>
                       Edit and delete
                    </td>
                </tr>
            }
</table>



</div>